body{
    background: linear-gradient(to bottom, #000000, #353535);
}

/*Page video*/
.cat-content {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    z-index: 2;
}

.cat-image {
    display: flex;
    flex-direction: column;
    max-width: 0%;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2, .6);
    margin: 25px 25%;
}

.cat-name {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: bold;
}

.cat-link {
    text-decoration: none;
    color: #f56715;
    font-size: 2em;
    margin-bottom: 10px;
    display: inline-block;
}

.cat-link:hover {
    color: #f56f15;
}

.cat-description {
    font-size: 1em;
    color: #ffffff;
}

/*Commentaire*/

.comments-section {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    opacity: 80%;

}

.comments-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #f56715;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #353535;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 90%;
}

.comment-user {
    font-weight: bold;
    font-size: 1.5em;
    color: #f56715;
    margin-bottom: 5px;
}

.comment-text {
    font-size: 1em;
    color: #ffffff;
}

.popup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.popup-form input, .popup-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.popup-form button {
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    max-width: 100px;
    box-shadow: 0 0px 40px 5px rgba(255, 255, 255, 0.15);
}

.popup-form button:hover {
    background-color: #232323;
}