@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background: linear-gradient(to bottom, #000000, #353535);
    height: 100vh;
    font-family: Arial, sans-serif;
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    color: white;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

#contact-page {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#contact-page h1 {
    color: #444;
    margin-bottom: 30px;
}

#contact-page p {
    color: #666;
}

#contact-page .contact-info {
    margin-bottom: 30px;
}

#contact-page h2 {
    color: #555;
}

#contact-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-page form label {
    margin-top: 10px;
    color: #777;
}

#contact-page form input, 
#contact-page form textarea, 
#contact-page form button {
    margin-top: 5px;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-page form button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    cursor: pointer;
}

#contact-page form button:hover {
    background-color: #ff4b4b;
}
